<section class="section section__bg-pink section__padding-b">
  <h2 class="section-title is-hidden"></h2>
  <div class="container advant">
    <ul class="advant__list">
      <li class="advant__list-item">
        <ul class="advant__item-list">
          <li class="advant__item">
            <span class="advant__item-bg-one"></span>
          </li>
          <li class="advant__item">
            <p class="advant__item-number">721</p>
          </li>
          <li class="advant__item">
            <p class="advant__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="advant__list-item">
        <ul class="advant__item-list">
          <li class="advant__item">
            <span class="advant__item-bg-two"></span>
          </li>
          <li class="advant__item">
            <p class="advant__item-number">16kg</p>
          </li>
          <li class="advant__item">
            <p class="advant__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
      <li class="advant__list-item">
        <ul class="advant__item-list">
          <li class="advant__item">
            <span class="advant__item-bg-three"></span>
          </li>
          <li class="advant__item">
            <p class="advant__item-number">84</p>
          </li>
          <li class="advant__item">
            <p class="advant__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
