<section class="section section--bicolor" id="contact">
  <div class="container">
    <h2 class="section-title is-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__card">

        <div class="contacts__box">
          <p class="contacts__titles">Cafe</p>
          <div class="contacts__box-item">
          <h4 class="contacts__address--black">Chicago</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="contacts__box-item">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>

            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </div>

          <div class="contacts__box-item contact__add-box">
            <a class="contacts__contact--beige" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          </div>
        </div>
      </li>

      <li class="contacts__card">


        <div class="contacts__box">
          <p class="contacts__titles--green">Food truck</p>
          <div class="contacts__box-item">
            <h4 class="contacts__address--black">Los Angeles</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="contacts__box-item">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>

            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </div>

          <div class="contacts__box-item contact__add-box">
            <a class="contacts__contact--beige" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          </div>
        </div>
      </li>

      <li class="contacts__card">

        <div class="contacts__box">
          <p class="contacts__titles">Cafe</p>
          <div class="contacts__box-item">
            <h4 class="contacts__address--black">New York</h4>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="contacts__box-item">
            <h4 class="contacts__date">Monday - Friday</h4>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>

            <h4 class="contacts__date">Saturday - Sunday</h4>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </div>

          <div class="contacts__box-item contact__add-box">
            <a class="contacts__contact--beige" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__contact--beige" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          </div>
        </div>
      </li>
    </ul>
    <div class="contacts__battons">
      <button type="button" class="btn btn__acent" data-modal-open>
        Our Locations <span class="arrow"></span>
      </button>
      <button type="button" class="btn btn__light" data-fran-open>
        Franchise <span class="arrow-light"></span>
      </button>
    </div>

    <div class="backdrop backdrop--hidden" data-modal>
      <div class="locations">
        <div class="locations__box">
          <p class="locations__content">
            turn on location services to allow us to determine your location!
          </p>
          <ul class="locations__buttons">
            <li>
              <button
                type="button"
                class="locations__buttons--left btn"
              >
                Settings
              </button>
            </li>
            <li>
              <button
                type="button"
                class="locations__buttons--right btn btn__light"
                data-modal-close
              >
                Cancel
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="franchise__backdrop backdrops--hidden" data-fran>
      <div class="franchise">
        <div class="modal__close" data-fran-close></div>
        <div class="franchise__box">
          <p class="franchise__content">ice cream franchise special offer</p>
          <ul class="franchise__buttons">
            <li>
              <button
                type="button"
                class="franchise__buttons--left btn btn__acent"
              >
                Call us now
              </button>
            </li>
            <li>
              <button
                type="button"
                class="franchise__buttons--right btn btn__light"
              >
                Order now
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
