<section class="section reviews section__padding-top" id="about-us">
  <div class="container">
    <div class="slider">
      <div class="item">
        <img
          class="img"
          src="..//..//..//img/reviews/girl1@1.webp"
          alt="Первый слайд"
        />
        <div class="slideText-box">
          <div class="slideText-bg">
            <p class="slideText">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="dots">
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
        </div>
        <p class="name">Emily, Los Angeles</p>
      </div>

      <div class="item">
        <img
          class="img"
          src="..//..//..//img/reviews/girl2@1.webp"
          alt="Первый слайд"
        />
        <div class="slideText-box">
          <div class="slideText-bg">
            <p class="slideText">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="dots">
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
        </div>
        <p class="name">Charlotte, Chicago</p>
      </div>

      <div class="item">
        <img
          class="img"
          src="..//..//..//img/reviews/girl3@1.webp"
          alt="Первый слайд"
        />
        <div class="slideText-box">
          <div class="slideText-bg">
            <p class="slideText">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>

        <div class="dots">
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
          <span class="dots-pink"></span>
        </div>
        <p class="name">Mia, New York</p>
      </div>

      <div class="slider-dots">
        <span class="slider-dots_item" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item" onclick="currentSlide(3)"></span>
      </div>
    </div>
  </div>
</section>
