<header class="header" id="home">
  <div class="header__container container">
    <nav class="nav">
      <img class="logo" src="../../img/header/logo.png" alt="" />
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__item-link current" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#about-us">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#how-it's-made">How it's made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#contact">Contact</a>
        </li>
      </ul>

      <div class="burger" data-menu-button>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>

      <button class="btn hidden-btn btn__light" type="submit">
        Buy now <span class="arrow-light"></span>
      </button>
    </nav>

    <div class="content">
      <div class="content__main">
        <h1 class="content__title">
          ice cream made with <span class="content__title-accent">passion</span>
        </h1>
        <div class="content__anchors">
          <button class="btn btn__acent" href="#products">Products</button>
          <button class="btn btn__light" href="#how-it's-made">
            How it's made?
          </button>
        </div>
        <div class="content__milk-box">
          <picture>
            <source
              srcset="
                ../../img/header/milk@1.png 1x,
                ../../img/header/milk@2.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ../../img/header/milk@1.webp 1x,
                ../../img/header/milk@1.webp 2x
              "
              type="image/webp"
            />
            <img
              class="content__img-milk"
              src="../../img/header/milk@1.png"
              alt="milk"
            />
          </picture>
          <div>
            <p class="content__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <span class="content__arrow"></span>
          </div>
        </div>
      </div>

      <ul class="our-enterprises">
        <li class="our-enterprises__item">
          <span class="our-enterprises__number">16</span>
          <p class="our-enterprises__text">cafes</p>
        </li>
        <li class="our-enterprises__item">
          <span class="our-enterprises__number">23</span>
          <p class="our-enterprises__text">food trucks</p>
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ../../img/header/girl@1.png  1x,
            ../../img//header/girl@2.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../../img/header/girl@1.webp 1x,
            ../../img/header/girl@2.webp 2x
          "
          type="image/webp"
        />
        <img
          class="content__img-girl"
          src="../../img/header/girl@1.png"
          alt="girl"
        />
      </picture>

      <picture class="pseudo">
        <source
          srcset="
            ../../img/header/ice-cream@1.png 1x,
            ../../img/header/ice-cream@2.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../../img/header/ice-cream@1.webp 1x,
            ../../img/header/ice-cream@2.webp 2x
          "
          type="image/webp"
        />
        <img
          class="content__img-ice-cream"
          src="../../img/header/ice-cream@1.png"
          alt="ice-cream"
        />
      </picture>
    </div>
  </div>
</header>

<!-- Меню мобильное -->

<div class="mob" id="mobile-menu" data-menu>
  <button class="mob__btn btn btn__light" type="submit">
    Buy now <span class="arrow-light"></span>
  </button>
  <ul class="mob__list">
    <li class="mob__item">
      <a class="mob__item-link current" href="#home">Home</a>
    </li>
    <li class="mob__item">
      <a class="mob__item-link" href="#about-us">About us</a>
    </li>
    <li class="mob__item">
      <a class="mob__item-link" href="#how-it's-made">How it's made?</a>
    </li>
    <li class="mob__item">
      <a class="mob__item-link" href="#products">Our products</a>
    </li>
    <li class="mob__item">
      <a class="mob__item-link" href="#contact">Contact</a>
    </li>
  </ul>
</div>
