<section class="section section__products-padding" id="products">
  <div class="products container">
    <p class="products__lable">100% natural</p>
    <h2 class="products__header">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <span class="products__img-one"></span>
        <div class="products__box-one">
          <h3 class="products__box-header">ice cream</h3>
          <ul class="products__box-list">
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
          </ul>
          <p class="products__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="btn btn__light"></button>
        </div>
      </li>

      <li class="products__item">
        <span class="products__img-two"></span>
        <div class="products__box-two">
          <h3 class="products__box-header">ice coffee</h3>
          <ul class="products__box-list">
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
          </ul>
          <p class="products__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="btn btn__light"></button>
        </div>
      </li>
      <li class="products__item">
        <span class="products__img-three"></span>
        <div class="products__box-three">
          <h3 class="products__box-header">milkshakes</h3>
          <ul class="products__box-list">
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
            <li class="products__box-item">
              <span class="products__point"></span>
            </li>
          </ul>
          <p class="products__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="btn btn__light"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
