// Шрифты
$main-font-style: "DM Sans", sans-serif;
$second-font-style: "Titan One", cursive;

// Цвета
$main-color: #d41443;
$main-text-color: #000000;
$second-text-color: #ffffff;
$main-button-color: #d41342;
$main-background-color: #ffb8ca;
$label-title-color: #ffa5ba;
$section-background-color: #fff5f6;

// Transition
$transition: 0.3s;
